# Familiarisation with the data

This file shows the steps taken in the initial exploration of the data. I have used an .ipynb file for ease of running the code and reviewing the output

In [33]:
#import necessary packages and load dataframe
import pandas as pd


loan_payments = pd.read_csv('/Users/colinknight/Documents/Data Files/AiCore_EDA_Project/loan_payments.csv')

### Inspecting the loan_payments dataframe

Upon loading the dataframe I inspected data by printing the shape and displaying the head for ease of review.

In [34]:
#find out shape of dataframe
print('The shape of loan payments is: ' + str(loan_payments.shape))


pd.set_option('display.max_columns', None) #removes limits on the number of columns that can be displayed or printed

print('\nThis is the head of the dataframe')
display(loan_payments.head())

The shape of loan payments is: (54231, 43)

This is the head of the dataframe

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,Jan-2021,Current,n,credit_card,19.54,2,Oct-1987,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.0,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,Jan-2021,Current,n,credit_card,24.20,0,Sep-2001,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.0,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Source Verified,Jan-2021,Fully Paid,n,credit_card,16.92,0,Sep-1998,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.0,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Source Verified,Jan-2021,Fully Paid,n,debt_consolidation,35.52,0,Jun-2008,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.0,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,Jan-2021,Current,n,debt_consolidation,3.33,0,Apr-2002,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.0,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

### Finding out the datatypes of each column

Having reviewed the head of the dataframe, I inspected the datatypes of each column to see if these were correct or potentially required transformation.

In [35]:
#find out datatypes of each column
print('\nThe datatypes of each columns are:')
print(loan_payments.dtypes)

The datatypes of each columns are:
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object

It appears that there are some columns that are candidates to be converted into dates:
- issue_date
- earliest_credit_line
- last_payment_date
- next_payment_date
- last_credit_pull_date

And some that sound like categories:
- policy_code
- loan_status
- grade
- sub_grade
- home_ownership
- verification_status
- loan_status
- payment_plan
- purpose
- policy_code
- application_type

Two columns are classed as integers as they contain numbers but these should be unique id's and shouldn't have any mathematical operations performed on them.
- id
- member_id

### Initial checks on datatype assumptions

Checking whether the assumption that each id and member_id is unique is correct. If so then id could be made an index for the dataframe.

In [36]:
#check that each row has a unique id entry

print('Is each entry in \'id\' unique?')
print(len(loan_payments['id'].unique()) == len(loan_payments))

#check that each row has a unique member_id entry

print('\nIs each entry in \'member_id\' unique?')
print(len(loan_payments['member_id'].unique()) == len(loan_payments))

Is each entry in 'id' unique?
True

Is each entry in 'member_id' unique?
True

### Potential categorical columns

Run checks on the unique values within each potential categorical columns to see if they contain few enough unique values to be considered categories. This also identifies any potential whitespace within values that can be cleaned. First of all I counted the number of unique values in each column to identify where there is a small 'pool' of values within certain dataframes - potential categories. THis identified two additional potential categorical columns: __term__ and __employment_length__.

In [37]:
for col in loan_payments.columns:
    unique_values = len(loan_payments[col].unique())
    print(f'There are {unique_values} unique values in the {col} column')

There are 54231 unique values in the id column
There are 54231 unique values in the member_id column
There are 1083 unique values in the loan_amount column
There are 1123 unique values in the funded_amount column
There are 5261 unique values in the funded_amount_inv column
There are 3 unique values in the term column
There are 458 unique values in the int_rate column
There are 19940 unique values in the instalment column
There are 7 unique values in the grade column
There are 35 unique values in the sub_grade column
There are 12 unique values in the employment_length column
There are 5 unique values in the home_ownership column
There are 6132 unique values in the annual_inc column
There are 3 unique values in the verification_status column
There are 61 unique values in the issue_date column
There are 9 unique values in the loan_status column
There are 2 unique values in the payment_plan column
There are 14 unique values in the purpose column
There are 3611 unique values in the dti column
There are 16 unique values in the delinq_2yrs column
There are 587 unique values in the earliest_credit_line column
There are 24 unique values in the inq_last_6mths column
There are 101 unique values in the mths_since_last_delinq column
There are 121 unique values in the mths_since_last_record column
There are 48 unique values in the open_accounts column
There are 88 unique values in the total_accounts column
There are 17673 unique values in the out_prncp column
There are 17872 unique values in the out_prncp_inv column
There are 51698 unique values in the total_payment column
There are 51561 unique values in the total_payment_inv column
There are 25117 unique values in the total_rec_prncp column
There are 49331 unique values in the total_rec_int column
There are 1439 unique values in the total_rec_late_fee column
There are 3599 unique values in the recoveries column
There are 2944 unique values in the collection_recovery_fee column
There are 99 unique values in the last_payment_date column
There are 38235 unique values in the last_payment_amount column
There are 97 unique values in the next_payment_date column
There are 102 unique values in the last_credit_pull_date column
There are 6 unique values in the collections_12_mths_ex_med column
There are 114 unique values in the mths_since_last_major_derog column
There are 1 unique values in the policy_code column
There are 1 unique values in the application_type column

In [38]:
# create list of potential category columns based on previous output
categorical_list = ['policy_code',
                    'loan_status', 
                    'grade',
                    'term',
                    'employment_length', 
                    'sub_grade', 
                    'home_ownership', 
                    'verification_status', 
                    'loan_status', 
                    'payment_plan', 
                    'purpose',
                    'policy_code',
                    'application_type']

#loop through columns in categorical list and return unique value counts for each column
for col in categorical_list:
    print(f'Unique values in {col}')
    print(loan_payments[col].value_counts())
    print('\n')

Unique values in policy_code
policy_code
1    54231
Name: count, dtype: int64


Unique values in loan_status
loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64


Unique values in grade
grade
B    16369
C    13600
A     9818
D     8157
E     4072
F     1694
G      521
Name: count, dtype: int64


Unique values in term
term
36 months    35845
60 months    13614
Name: count, dtype: int64


Unique values in employment_length
employment_length
10+ years    15907
2 years       5066
< 1 year      5034
3 years       4589
5 years       3836
1 year        3708
4 years       3482
6 years       3059
7 years       2964
8 years       2537
9 years       1931
Name: count, dtype: int64


Unique values in sub_grade
sub_grade
B3    3641
B4    3542
B2    3241
C1    3018
B5    3016
C2    2962
B1    2929
C3    2794
A5    2789
A4    2645
C4    2512
C5    2314
D1    1838
D2    1809
A3    1752
D3    1647
D4    1509
A2    1481
D5    1354
A1    1151
E1     989
E2     985
E3     817
E4     658
E5     623
F1     486
F2     390
F3     326
F4     287
F5     205
G1     156
G2     133
G3      87
G4      74
G5      71
Name: count, dtype: int64


Unique values in home_ownership
home_ownership
MORTGAGE    26923
RENT        22493
OWN          4750
OTHER          63
NONE            2
Name: count, dtype: int64


Unique values in verification_status
verification_status
Verified           20782
Not Verified       17565
Source Verified    15884
Name: count, dtype: int64


Unique values in loan_status
loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64


Unique values in payment_plan
payment_plan
n    54230
y        1
Name: count, dtype: int64


Unique values in purpose
purpose
debt_consolidation    29593
credit_card           11133
other                  3697
home_improvement       3215
major_purchase         1679
small_business         1312
car                    1022
medical                 631
wedding                 539
moving                  456
house                   354
vacation                320
educational             201
renewable_energy         79
Name: count, dtype: int64


Unique values in policy_code
policy_code
1    54231
Name: count, dtype: int64


Unique values in application_type
application_type
INDIVIDUAL    54231
Name: count, dtype: int64

### Insights from category check

- There are only two values in __payment_plan__ (y - yes  and n - no) with only one value for y

- __application_type__ and __policy_code__ only have one value contained within each ('INDIVIDUAL' and '54321' respectively)

- __loan_status__ appears to have values that overlap in their meaning:

    - Late (31-120 days) and Late (16-30 days) could be combined into a single 'Late' value if required (also could apply to 'Default')

    - There are values for "Fully Paid" and "Does not meet the credit policy. Status:Fully Paid". This differentiation may or may not be helpful in the analysis

    - Similarly there are values for "Charged Off" and "Does not meet the credit policy. Status:Charged Off"

        - Both of the bullets above refer to "Does not meet the credit policy" - albeit for very different reasons in each case (one being a fully repaid loan and the other written off as bad debt)
        
    - this column may have to have the different 'categories' bucketed together within different analyses

- __purpose__ appears to have values that can be combined such as 'credit_card' and 'debt_consolidation' as well as 'house' and 'home_improvement' (or moving in this case)

- There do not appear to be any whitespace issues with any of the values in the columns in 'categorical_list'

- __term__ has only two values: '36 MONTHS' and '60 MONTHS'. The ' MONTHS' can be removed

- __employment_length__ differentiates between employment lengths on a one year basis up to 10 years where it simply records over +10 years above this. This might need to be grouped into buckets to treat the other employment lengths in a similar manner. Since this only refers to years we can remove reference to 'year' or years within the data.

### Checking null values

A check of null values shows some columns with a high percentage of null values when compared to the total records in the dataframe. These show a few columns with a high percentage of missing values which may need to be dropped or filtered from parts of the analysis:

- __mths_since_last_major_derog__: the Months since most recent 90-day or worse rating (86% of records null)

- __mths_since_last_delinq__:  (57% of records null)

- __mths_since_last_record__: (89% of records null)

- __next_payment_date__: (60% of records null - probably due to the number of fully paid accounts) 

Some payments with lower percentages of null values require further investigation and dropping or imputation as appropriate

- __employment_length__, __int_rate__, __term__, __funded_amount__, __last_payment_date__

In [40]:
#find out the percentage of null values in each column

print('\nThe percentage of null values in each column is:')
print(loan_payments.isnull().sum()/len(loan_payments)*100)

The percentage of null values in each column is:
id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
term                            8.799395
int_rate                        9.531449
instalment                      0.000000
grade                           0.000000
sub_grade                       0.000000
employment_length               3.905515
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_date                      0.000000
loan_status                     0.000000
payment_plan                    0.000000
purpose                         0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_credit_line            0.000000
inq_last_6mths                  0.000000
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
open_accounts                   0.000000
total_accounts                  0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_payment                   0.000000
total_payment_inv               0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_payment_date               0.134609
last_payment_amount             0.000000
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
dtype: float64